# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore variable override files (sensitive or environment-specific)
# *.tfvars
*.tfvars.json

# Ignore Terraform plan output files
*.tfplan

# Ignore Terraform lock file (used by the backend for state locking)
.terraform.lock.hcl

# Ignore .terraform directory
.terraform/

# Ignore any generated logs
*.log

# Ignore specific config files (add any other environment-specific configs here)
config.yaml
